{% extends 'userapp/dashboard_headerfooter.html' %}
{% load static %}
<!--Block content goes below-->


  {% block content %}



<div class="content bg">
    <div class="container">
		<div class="row">
			<div class="col s12">
				<h1 class="black-text">Dashboard</h1>
			</div>
			<br>

			<br>
		<div class=" black-text">
			<h3 class="blue-text">
				What we Offers!
			</h3>
			<ul>
				<li><h6>You can <b>Sales Analysis</b> facility by putting your dataset.</h6></li>
				<li><h6>You can also use <b>Sales Predication</b> Service.</h6></li>
				<li><h6>You can Search <b>SEO</b> related keywords that boost your product ranking.</h6></li>
				<li><h6>You can also search for your target <b>audience</b> </h6></li>
				<li><h6>We provide our premier service of <b>DARAZ Flash Sale Analysis</b></h6></li>
			</ul>
		</div>
		</div>
	</div>
</div>





  {% endblock %}