{% load static %}

<!DOCTYPE html>
<html>
  <head>
    <!--Import Google Icon Font-->
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <script
      defer
      src="https://use.fontawesome.com/releases/v5.0.6/js/all.js"
    ></script>
    <!--Import materialize.css-->
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/materialize.min.css' %}"
      media="screen,projection"
    />
    <link
      type="text/css"
      rel="stylesheet"
      href="{% static 'css/styles.css' %}"
    />

    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>ECMRT</title>
  </head>

  <body>
    <!-- javascript for alert-->
    <script type="text/javascript">
      function getValue() {
        var x = document.getElementById("password");
        var y = document.getElementById("confirm_password");
        if (x.value != y.value) {
          alert("Password Not Match!!!");
        }
      }
    </script>
    <!-- Header -->
    <header class="sm_header_banner">
      <nav class="transparent">
        <div class="container">
          <div class="nav-wrapper">
            
            <a href="#" class="brand-logo">
              <div style="display: flex; justify-content:center; align-items:center;">
                <img
                src="{% static 'img/favicon.png' %}"
                height="90px"
                style="margin-top: 0px; border-radius:20px;"
                
                alt="ECMRT"
              />
              <h3 style="text-transform:uppercase; font-size:1.45rem; margin-left:-20px; font-weight:bold">PHT
              </h3>
              </div>
            </a>
        
            <a href="#" data-activates="mobile-nav" class="button-collapse">
              <i class="fa fa-bars"></i>
            </a>
            <ul class="right hide-on-med-and-down">
              <li>
                <a href="{% url 'index' %}">Home</a>
              </li>
              <li>
                <a href="{% url 'solutions' %}">Solutions</a>
              </li>
              <li>
                <a class="active-link" href="{% url 'signup' %}">Sign Up</a>
              </li>
              <li>
                <a href="/" class="btn purple modal-trigger"
                  >Login</a
                >
              </li>
              <li>
                <a href="https://facebook.com">
                  <i class="fab fa-facebook"></i>
                </a>
              </li>
              <li>
                <a href="https://twitter.com">
                  <i class="fab fa-twitter"></i>
                </a>
              </li>
              <li>
                <a href="https://instagram.com">
                  <i class="fab fa-instagram"></i>
                </a>
              </li>
            </ul>
            <ul class="side-nav" id="mobile-nav">
              <h4 class="purple-text text-darken-4 center">PHT</h4>
              <li>
                <div class="divider"></div>
              </li>
              <li>
                <a href="{% url 'index' %}">
                  <i class="fa fa-home grey-text text-darken-4"></i> Home</a
                >
              </li>
              <li>
                <a href="{% url 'solutions' %}">
                  <i class="fa fa-cog grey-text text-darken-4"></i> Solutions</a
                >
              </li>
              <li>
                <a href="{% url 'signup' %}">
                  <i class="fa fa-users grey-text text-darken-4"></i> Sign Up</a
                >
              </li>
              <li>
                <div class="divider"></div>
              </li>
              <li>
                <a href="#" class="btn purple">Login</a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Showcase -->
      <div class="showcase container">
        <div class="row">
          <div class="col s12 m10 offset-m1 center">
            <h5>Welcome To E-commerce Product Hunting Tool</h5>
            <h1>Create An Account</h1>
          </div>
        </div>
      </div>
    </header>

    <!-- Section: Signup -->
    <section class="section section-signup">
      <div class="container">
        <div class="row">
          <div class="col s12 m6">
            <h4>Get an account</h4>
            <p>Get the Account of E-commerce Product Hunting Tool</p>
            <h4>Use our Services</h4>
            <p>
              PHT facilitate their users to grow in the Field of E-commerce By
              Providing its Service of Sells Prediction, Audience
              Recommendation, Sale Analysis, SEO keyword Search, Draz Flash Sale
              Analysis.
            </p>
            <h4>Analysis the products</h4>
            <p>Users can Analysis the Products Success.</p>
          </div>

          <div class="col s12 m6">
            <div>
              {% for message in messages %}
              <h3 style="color: red">{{message}}</h3>
              {% endfor %}
            </div>
            <div
              class="card-panel grey lighten-4 grey-text text-darken-4 z-depth-0"
            >
              <form action="users" method="POST">
                {% csrf_token %}
                <div class="input-field">
                  <input
                    name="first_name"
                    type="text"
                    id="first_name"
                    placeholder="First Name"
                  />
                </div>
                <div class="input-field">
                  <input
                    name="last_name"
                    type="text"
                    id="last_name"
                    placeholder="Last Name"
                  />
                </div>
                <div class="input-field">
                  <input
                    name="username"
                    type="text"
                    id="username"
                    placeholder="Username"
                  />
                </div>
                <div class="input-field">
                  <input
                    name="email"
                    type="email"
                    id="email"
                    placeholder="Email"
                  />
                </div>

                <div class="input-field">
                  <input
                    name="password"
                    type="password"
                    id="password"
                    placeholder="Password"
                  />
                </div>
                <div class="input-field">
                  <input
                    name="confirm_password"
                    type="password"
                    id="confirm_password"
                    placeholder="Confirm Password"
                  />
                </div>

                <input
                  type="submit"
                  value="Signup"
                  class="btn btn-large purple btn-extend"
                  onclick="getValue()"
                />
              </form>
            </div>
          </div>
        </div>
      </div>
    </section>

    <!-- Footer -->
    <footer class="page-footer #9c27b0 purple">
      <div class="container">
        <div class="row">
          <div class="col l6 s12">
            <h5 class="white-text">
              <div style="display: flex;  align-items:center;">
                <img
                src="{% static 'img/favicon.png' %}"
                height="90px"
                style="margin-top: 0px; border-radius:20px; tintColor:white"
                
                alt="ECMRT"
              />
              <h3 style="text-transform:uppercase; font-size:1.45rem; margin-left:-20px; font-weight:bold">PHT
              </h3>
              </div>
            </h5>
            <p class="grey-text text-lighten-4" style="padding-top: -100px">
              PHT provides data analysis of different ecommerce stores using
              Advance BI(Business Intelligence) techniques.
            </p>
          </div>
          <div class="col l4 offset-l2 s12">
            <h5 class="white-text">PHT</h5>
            <ul>
              <li>
                <a class="grey-text text-lighten-3" href="/">Home</a>
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="solutions"
                  >Solutions</a
                >
              </li>
              <li>
                <a class="grey-text text-lighten-3" href="signup"
                  >Signup</a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright deep-purple darken-1">
        <div class="container">
          E-commerce Product Hunting Tool &copy; 2024
          <a class="grey-text text-lighten-4 right" href="#!"
            >Terms & Conditions</a
          >
        </div>
      </div>
    </footer>

    <!-- Login Modal -->
    <div id="login-modal" class="modal">
      <div class="modal-content">
        <h4>Account Login</h4>
        <p>Login to access your account dashboard</p>
        <form>
          <div class="input-field">
            <input type="email" id="email" />
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input type="password" id="password" />
            <label for="password">Password</label>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <a href="#!" class="modal-action modal-close btn grey">
          <i class="fa fa-sync"></i> Reset Password</a
        >
        <a href="#!" class="modal-action modal-close btn purple">
          <i class="fa fa-lock"></i> Login</a
        >
      </div>
    </div>
    

    <!--Import jQuery before materialize.js-->
    <script
      type="text/javascript"
      src="https://code.jquery.com/jquery-3.2.1.min.js"
    ></script>
    <script type="text/javascript" src="js/materialize.min.js"></script>
    <script>
      $(document).ready(function () {
        $(".carousel.carousel-slider").carousel({ fullWidth: true });
        $(".button-collapse").sideNav();
        $(".modal").modal();
        $("select").material_select();
      });
    </script>
  </body>
</html>
